.artist-short {
  width: 350px;
  height: 82px;
  margin: 5px;
  overflow: hidden;
  position: relative;
}
.artist-short:hover {
  cursor: pointer;
}

  .artist-short .artist-short__image {
    width: 150px;
    height: 82px;
    margin-right: 5px;
    float: left;
  }

  .artist-short .artist-short__name {
    font-weight: bold;
    color: white;
  }
  .artist-short .artist-short__stage {
    
  }

#app.small .artist-short {
  width: 200px;
    height: 41px;
}
  #app.small .artist-short__image {
    width: 75px;
    height: 41px;
  }
  
  #app.small .artist-short__name {
    font-size: 14px;
  }
  #app.small .artist-short__stage {
    font-size: 12px;
    margin-top: 5px;
  }


.pane {
  width: 100%;
}

  .pane__left, .pane__right {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }

  .pane__left {
    width: 350px;
  }
  #app.small .pane__left {
    width: 200px;
  }

  .pane__right {
    width: calc(100% - 400px);
  }
  #app.small .pane__right {
    width: calc(100% - 250px);
  }