body {
}

.content, #app {
  height: 100%;
}

  #app .win-splitviewpanetoggle {
    float: left;
  }


  /* SplitView pane content style*/
  #app .header {
    white-space: nowrap;
  }

  #app .title {
    font-size: 25px;
    left: 50px;
    margin-top: 6px;
    vertical-align: middle;
    display: inline-block;
  }

  #app .header .title img {
    width: 150px;
  }

  #app .nav-commands {
    margin-top: 20px;
  }

.win-splitviewcommand-button {
  background-color: transparent;
}

#app .win-splitview-pane-closed .win-splitviewcommand-label {
  /*  Make sure pane content doesn't scroll if 
    SplitViewCommand label receives focus while pane is closed.
    */
  visibility: hidden;
}

/*SplitView pane style for different screen sizes*/
#app.large .splitView {
  width: 100%;
}

#app.large .win-splitview-content .win-splitviewpanetoggle {
  display: none;
}

#app.medium .splitView {
  width: 80%;
}

#app.medium .win-splitview-content .win-splitviewpanetoggle {
  display: none;
}

#app.small .splitView {
  width: 60%;
}

/*SplitView content style*/
#app .win-splitview-content {
  background-color: rgb(112,112,112);
}

#app .contenttext {
  margin-left: 20px;
  margin-top: 6px;
}






#listView {
  width: 100%;
}

.listLayoutTopHeaderTemplateRoot {
  font-size: larger;
  margin-left: 16px;
}

/* CSS applied to the ListViews in this sample */
#listView {
  height: 100%;
}





.favorite--add::before, .favorite--remove::before {
  width: 40px;
  width: 40px;
  padding: 5px;
  text-align: center;
  font-size: 25px;
}
.favorite--add::before {
  content: "\E734";
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
}
.favorite--remove::before {
  content: "\E8D9";
  display: inline-block;
  color: rgba(255, 255, 255, 1);
}